<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="~/Scripts/toastr.js"></script>

<!-- Page Heading -->
<div class="mb-4">
    <h1 class="h3 mb-0 text-gray-900">
        Welcome !!
    </h1>
    <h2 class="h5 mt-3 text-gray-800">Read the Game Rules carefully before playing...</h2>
</div>

@if (TempData["LoggedIn"] != null)
{
    <script>
        toastr.success("@TempData["LoggedIn"]");
    </script>
}